/* You can add global styles to this file, and also import other style files */
#themecolors li{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.w150{
    width: 150px;
    margin: 0 auto;
    align-items: center;
}

.padding{
    margin-left: 10px;
}